#php_value upload_max_filesize 40M
#php_value post_max_size 42M
#Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^.kzone.vn
ErrorDocument 404 /404.php
RewriteRule ^(.*)$ http://radio.kzone.vn/$1 [R=permanent,L]
RewriteRule ^admin controller/admin/index.php
RewriteRule ^login controller/admin/login.php

RewriteRule ^tour/([a-zA-Z0-9_-]+)/$ controller/default/chitietdanhmuc.php?Id=$1
RewriteRule ^tour/([a-zA-Z0-9_-]+)/page-([0-9]+)$ controller/default/chitietdanhmuc.php?Id=$1&page=$2
RewriteRule ^destinations/([a-zA-Z0-9_-]+)/$ controller/default/chitietdestinations.php?Id=$1
RewriteRule ^destinations/([a-zA-Z0-9_-]+)/page-([0-9]+)$ controller/default/chitietdestinations.php?Id=$1&page=$2

RewriteRule ^excursion-tours/$ controller/default/danhmuctour.php
RewriteRule ^excursion-tours/page-([0-9]+)$ controller/default/danhmuctour.php?page=$1

RewriteRule ^vacation-packages/$ controller/default/danhmuctour.php
RewriteRule ^vacation-packages/page-([0-9]+)$ controller/default/danhmuctour.php?page=$1

RewriteRule ^cruise-tours/$ controller/default/danhmuctour.php
RewriteRule ^cruise-tours/page-([0-9]+)$ controller/default/danhmuctour.php?page=$1

RewriteRule ^multi-country/$ controller/default/danhmuctour.php
RewriteRule ^multi-country/page-([0-9]+)$ controller/default/danhmuctour.php?page=$1

RewriteRule ^excursion-tours/$ controller/default/danhmuctour.php
RewriteRule ^excursion-tours/page-([0-9]+)$ controller/default/danhmuctour.php?page=$1

RewriteRule ^destinations/$ controller/default/danhmuctour.php
RewriteRule ^destinations/page-([0-9]+)$ controller/default/danhmuctour.php?page=$1

RewriteRule ^(.*).html$ controller/default/chitiettour.php?Id=$1

RewriteRule ^news/$ controller/default/danhmuctintuc.php
RewriteRule ^news/page-([0-9]+)$ controller/default/danhmuctintuc.php?page=$1
RewriteRule ^news/([a-zA-Z0-9_-]+)/$ controller/default/danhmuctintuc.php?Id=$1
RewriteRule ^news/([a-zA-Z0-9_-]+)/page-([0-9]+)$ controller/default/danhmuctintuc.php?Id=$1&page=$2
RewriteRule ^news/(.*).html$ controller/default/chitiettintuc.php?Id=$1

RewriteRule ^vietnam-visa/$ controller/default/info.php
RewriteRule ^about-us/$ controller/default/info.php
RewriteRule ^why-us/$ controller/default/info.php
RewriteRule ^our-service/$ controller/default/info.php
RewriteRule ^contact/$ controller/default/contact.php
RewriteRule ^terms-conditions/$ controller/default/info.php
RewriteRule ^terms-conditions/$ controller/default/info.php
RewriteRule ^payment-method/$ controller/default/info.php
RewriteRule ^privacy-policy/$ controller/default/info.php
RewriteRule ^faq/$ controller/default/info.php
RewriteRule ^search$ controller/default/search.php

RewriteRule ^packages/$ controller/default/packages.php
RewriteRule ^packages/page-([0-9]+)$ controller/default/packages.php?page=$1
RewriteRule ^promotions/$ controller/default/packages.php
RewriteRule ^promotions/page-([0-9]+)$ controller/default/packages.php?page=$1
RewriteRule ^booking/$ controller/default/booking.php
RewriteRule ^videos/$ controller/default/videos.php

RewriteRule ^tour-request-form/$ controller/default/request.php

