body {
    /*font-family: Tahoma, Helvetica, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif !important;
    background-color: #fff;
    color: #797979;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.boxed-area .home-content, .boxed-area .site-content {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #26292d;
    /*font-family: Cabin, Helvetica, Arial, sans-serif;*/
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #26292d;
    /*font-family: Cabin, Helvetica, Arial, sans-serif;*/
}

h1 {
    font-size: 33px;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

h3 {
    font-size: 26px;
    font-weight: normal;
}

h4 {
    font-size: 22px;
    font-weight: normal;
}

h5 {
    font-size: 20px;
    font-weight: normal;
}

h6 {
    font-size: 18px;
    font-weight: normal;
}

.top_site_main .page-title-wrapper .banner-wrapper .heading__primary {
    font-size: 51px;
    color: #a3c638;
}

.promo-banner .text-container .title-border-bottom .line_bottom {
    background: #26292d;
}

.custom-kc-countdown-timer span span.group span.timer {
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

.kc_counter_box .wrapper-icon-number i {
    color: #a3c638;
}

.kc_counter_box .wrapper-icon-number .counterup {
    font-family: Great Vibes, Helvetica, Arial, sans-serif;
}

.event-html .thumb-image:after {
    border-color: #a3c638;
}

.event-html .kc-countdown-event-html span.group {
    background: #a3c638;
}

.border-right-bottom:after {
    border-color: #a3c638;
}

.vi-heading .read-more a, .event-html .read-more a {
    /*font-family: Playfair Display, Helvetica, Arial, sans-serif;*/
    color: #a3c638;
    /*font-weight: bold;*/
}

.vi-heading .read-more a:hover, .event-html .read-more a:hover {
    color: #ee2b2a;
}

/*.link-black .vi-heading .read-more a {*/
    /*color: #26292d;*/
/*}*/

.link-black .vi-heading .read-more a:hover {
    /*color: #797979;*/
}

.font_heading_1 {
    font-family: Great Vibes, Helvetica, Arial, sans-serif;
}

.font_heading_1 h1, .font_heading_1 h2, .font_heading_1 h3, .font_heading_1 h4, .font_heading_1 h5, .font_heading_1 h6, .font_heading_1 p {
    font-family: Great Vibes, Helvetica, Arial, sans-serif;
}

.font_heading {
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

.font_heading h1, .font_heading h2, .font_heading h3, .font_heading h4, .font_heading h5, .font_heading h6, .font_heading p {
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

.font_body {
    font-family: Cabin, Helvetica, Arial, sans-serif;
}

.font_body h1, .font_body h2, .font_body h3, .font_body h4, .font_body h5, .font_body h6, .font_body p {
    font-family: Cabin, Helvetica, Arial, sans-serif;
}

.vi-heading.style2 .description, .top_site_main .page-title-wrapper .banner-wrapper .heading__primary {
    font-family: Parfumerie Script Decorative, Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.woocommerce .wrapper-related-product .upsells-products .before-title, .woocommerce .wrapper-related-product .related-products .before-title, .woocommerce-page .wrapper-related-product .upsells-products .before-title, .woocommerce-page .wrapper-related-product .related-products .before-title {
    font-family: Parfumerie Script Decorative, Helvetica, Arial, sans-serif;
    font-size: 36px;
}

.site-header {
    background: rgba(0, 0, 0, 0);
}

.site-header .navigation {
    background: rgba(0, 0, 0, 0);
}

.bg-custom-sticky.affix .navigation {
    background: rgba(0, 0, 0, 0.6);
}

.tab-content .product-content .text-middle .product-name {
    font-size: 26px;
}

.topbar-header {
    background-color: rgba(153, 191, 58, 0.63);
    color: #cacbc9;
    border-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}

.topbar-header a {
    color: #cacbc9;
}

.topbar-header a:hover {
    color: #a3c638;
}

.topbar-header .widget_nav_menu ul li a, .topbar-header .widget_nav_menu ul li span {
    color: #cacbc9;
}

.topbar-header .widget_nav_menu ul li a:hover {
    color: #a3c638;
}

.topbar-header .widget_nav_menu ul .sub-menu {
    background: rgba(0, 0, 0, 0.2);
}

.widget-topbar-left aside:after, .widget-topbar-right aside:after {
    background: rgba(0, 0, 0, 0);
}

.footer {
    background-color: #fff;
    color: #b5b5b5;
    border-color: #e5e5e5;
    font-weight: 600;
    font-size: 14px;
}

.footer .container {
    color: #b5b5b5;
}

.footer .container:before {
    background: #a3c638;
}

.footer .container a {
    color: #a3c638;
}

.footer .container a:hover {
    color: #a3c638;
}

.footer .container a.btn-primary {
    color: #a3c638;
}

.footer .container a.btn-primary:hover {
    color: #26292d;
}

.footer .container a.btn-primary:hover:after {
    border-color: #26292d;
}

.footer .widget-title {
    color: #26292d;
    font-size: 20px;
}

.footer .bg-black .line:before {
    background: #a3c638;
}

#powered .text-copyright {
    font-size: 13px;
}

.box-title .box-title {
    font-size: 33px;
}

#powered {
    background: #fff;
    color: #5f5f5f;
}

#powered a {
    color: #5f5f5f;
}

#powered a:hover {
    color: #a3c638;
}

#powered .white-color:hover {
    color: #a3c638;
}

#powered .text-copyright a {
    color: #a3c638;
}

#powered .text-copyright a:hover {
    color: #5f5f5f;
}

.vi-heading .title-heading, .vi-heading.style2 .description {
    color: #a3c638;
}

.time-open-hours .desc em {
    font-family: Parfumerie Script Decorative, Helvetica, Arial, sans-serif;
    /*font-family: Parfumerie Script Decorative, Helvetica, Arial, sans-serif;*/
    font-size: 55px;
}

.theme-color {
    color: #a3c638;
}

.view-more .btn-default, .view-more .btn-primary, .description .btn-default, .description .btn-primary {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.view-more .btn-default:hover, .view-more .btn-primary:hover, .description .btn-default:hover, .description .btn-primary:hover {
    color: #a3c638;
}

.inner-list-menu .read-more a {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    color: #a3c638;
}

.wrapper-list-menu .list-menu .inner-list-menu .list-category li a:hover {
    color: #a3c638;
}

.icon-box-content .btn-default {
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

.icon-box-content .btn-default:hover {
    background: #a3c638;
    border-color: #a3c638;
    color: #fff;
}

.title-shortcode .title-shortcode-inner .view-more .btn-default {
    color: #a3c638;
}

.inner-team-member .vi-teams-description-hover {
    background-color: #a3c638;
}

.archive-blog .entry-footer a, .single-blog .entry-footer a {
    color: #797979;
}

.archive-blog .entry-footer a:hover, .single-blog .entry-footer a:hover {
    color: #a3c638;
}

.archive-blog .entry-meta a:hover, .single-blog .entry-meta a:hover {
    color: #a3c638;
}

.scroll-to-top {
    /*background:;*/
    /*color:;*/
}

.scroll-to-top:hover {
    background: #a3c638;
    color: #fff;
}

.vi-woocommerce-product-category-tabs .vi-woo-cate-tabs > li a {
    font-size: 22px;
}

.vi-woocommerce-product-category-tabs .vi-woo-cate-tabs > li a:hover {
    color: #a3c638;
}

.vi-woocommerce-product-category-tabs .vi-woo-cate-tabs > li.active a {
    color: #a3c638;
}

.tab-content .product-content .text-middle .product-name a:hover {
    color: #a3c638;
}

.effect-one .promo-banner:before {
    background: #a3c638;
}

.line-effect:before {
    border-bottom: 5px solid #a3c638;
    border-top: 5px solid #a3c638;
}

.line-effect:after {
    border-left: 5px solid #a3c638;
    border-right: 5px solid #a3c638;
}

.single-our-team h1 {
    color: #a3c638;
}

.single-our-team .socials ul li a:hover {
    border-color: #a3c638;
    color: #a3c638;
}

#sb_instagram #sbi_load .sbi_load_btn, #sb_instagram .sbi_follow_btn a {
    color: #26292d;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a:hover {
    color: #a3c638;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li .remove:hover {
    color: #a3c638 !important;
}

.widget_shopping_cart .widget_shopping_cart_content .total .amount {
    color: #a3c638;
}

.widget_shopping_cart .widget_shopping_cart_content .buttons a {
    background: #a3c638;
}

.widget_shopping_cart.cart-border .minicart_hover {
    border-color: #a3c638;
}

.mfp-image-holder .mfp-close:hover, .mfp-inline-holder .mfp-close:hover {
    color: #a3c638;
}

#content .cart .button {
    background: #a3c638;
}

.product_meta a, .quick-view-detail {
    color: #797979;
}

.product_meta a:hover, .quick-view-detail:hover {
    color: #a3c638;
}

.woocommerce .buttons_added .minus:hover, .woocommerce .buttons_added .plus:hover, .woocommerce-page .buttons_added .minus:hover, .woocommerce-page .buttons_added .plus:hover {
    color: #a3c638;
}

.woocommerce .vi-coupon .button:hover, .woocommerce .vi-coupon .button.alt:hover, .woocommerce .vi-update-cart .button:hover, .woocommerce .vi-update-cart .button.alt:hover, .woocommerce-page .vi-coupon .button:hover, .woocommerce-page .vi-coupon .button.alt:hover, .woocommerce-page .vi-update-cart .button:hover, .woocommerce-page .vi-update-cart .button.alt:hover {
    background-color: #a3c638;
    color: #fff;
}

.woocommerce .vi-coupon .btn-primary, .woocommerce .vi-update-cart .btn-primary, .woocommerce-page .vi-coupon .btn-primary, .woocommerce-page .vi-update-cart .btn-primary {
    background-color: #a3c638;
    color: #fff;
}

.woocommerce .vi-coupon .btn-primary:hover, .woocommerce .vi-update-cart .btn-primary:hover, .woocommerce-page .vi-coupon .btn-primary:hover, .woocommerce-page .vi-update-cart .btn-primary:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.woocommerce .wc-ship-calculator .woocommerce-shipping-calculator .button:hover, .woocommerce-page .wc-ship-calculator .woocommerce-shipping-calculator .button:hover {
    background-color: #a3c638;
    color: #fff;
}

.woocommerce div.product .span.price, .woocommerce div.product p.price, .woocommerce-page div.product .span.price, .woocommerce-page div.product p.price {
    font-size: 26px;
    color: #26292d;
}

.woocommerce div.product .onsale, .woocommerce-page div.product .onsale {
    background: #a3c638;
}

.woocommerce div.product div.summary .single_add_to_cart_button, .woocommerce-page div.product div.summary .single_add_to_cart_button {
    background: #a3c638;
    border-color: #a3c638;
}

.woocommerce div.product div.summary .single_add_to_cart_button:hover, .woocommerce-page div.product div.summary .single_add_to_cart_button:hover {
    color: #a3c638;
}

.woocommerce div.product div.summary .product_meta > span > a, .woocommerce div.product div.summary .product_meta > span > span, .woocommerce-page div.product div.summary .product_meta > span > a, .woocommerce-page div.product div.summary .product_meta > span > span {
    color: #a3c638;
}

.woocommerce div.product div.summary form.cart .reset_variations:hover, .woocommerce-page div.product div.summary form.cart .reset_variations:hover {
    color: #a3c638;
}

.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist a, .woocommerce div.product div.summary a.compare, .woocommerce-page div.product div.summary .yith-wcwl-add-to-wishlist a, .woocommerce-page div.product div.summary a.compare {
    color: #a3c638;
}

.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist a:hover, .woocommerce div.product div.summary a.compare:hover, .woocommerce-page div.product div.summary .yith-wcwl-add-to-wishlist a:hover, .woocommerce-page div.product div.summary a.compare:hover {
    border-color: #a3c638;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    font-size: 22px;
    background: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    background: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:hover a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
    color: #a3c638;
}

.woocommerce div.product form.cart .group_table td a, .woocommerce-page div.product form.cart .group_table td a {
    color: #797979;
}

.woocommerce div.product form.cart .group_table td a:hover, .woocommerce-page div.product form.cart .group_table td a:hover {
    color: #a3c638;
}

.woocommerce a.add_to_cart_button:hover, .woocommerce a.product_type_grouped:hover, .woocommerce .return-to-shop .wc-backward:hover, .woocommerce-page a.add_to_cart_button:hover, .woocommerce-page a.product_type_grouped:hover, .woocommerce-page .return-to-shop .wc-backward:hover {
    background-color: #a3c638;
}

.woocommerce .wrapper-related-product .upsells-products .title, .woocommerce .wrapper-related-product .related-products .title, .woocommerce-page .wrapper-related-product .upsells-products .title, .woocommerce-page .wrapper-related-product .related-products .title {
    font-size: 26px;
}

.woocommerce .wrapper-related-product .upsells-products .before-title, .woocommerce .wrapper-related-product .related-products .before-title, .woocommerce-page .wrapper-related-product .upsells-products .before-title, .woocommerce-page .wrapper-related-product .related-products .before-title {
    color: #a3c638;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: #8a8a8a;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    border: 2px solid #a3c638;
    background: #a3c638;
}

.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
    background: #2a2a2a;
    color: #fff;
}

.woocommerce .widget_price_filter .price_slider_amount .button:hover, .woocommerce-page .widget_price_filter .price_slider_amount .button:hover {
    background: #a3c638;
}

.woocommerce #reviews #comments h2, .woocommerce-page #reviews #comments h2 {
    font-size: 26px;
}

.woocommerce #review_form #respond .form-submit input, .woocommerce-page #review_form #respond .form-submit input {
    background: #a3c638;
}

.woocommerce .single_variation_wrap span.price, .woocommerce-page .single_variation_wrap span.price {
    color: #797979 !important;
}

.woocommerce-account .woocommerce .login .button {
    background: #a3c638 !important;
}

.woocommerce-message .wc-forward {
    background: #a3c638 !important;
}

.woocommerce .woocommerce-message {
    border-top-color: #a3c638;
}

.woocommerce-checkout .button:hover {
    background: #a3c638 !important;
}

.category-product-list .item-product .product-top .quick-view a {
    color: #a3c638;
}

.category-product-list .item-product .product-top .onnew {
    background: #a3c638;
}

.category-product-list .item-product .product-top .quick-view:hover {
    border-color: #a3c638;
}

.category-product-list .item-product .product-desc .product-title {
    color: #26292d;
}

.category-product-list .item-product .product-desc .product-title:hover {
    color: #a3c638;
}

.category-product-list .item-product .product-desc .price span.amount {
    font-size: 18px;
    color: #a3c638;
}

.category-product-list .item-product .product-desc .controls li.add-to-cart a {
    background-color: #a3c638;
    border-color: #a3c638;
}

.category-product-list .item-product .product-desc .controls li.add-to-cart a:hover {
    color: #a3c638;
}

.category-product-list .item-product .product-desc .controls li .yith-wcwl-add-to-wishlist a, .category-product-list .item-product .product-desc .controls li a.compare {
    color: #a3c638;
}

.category-product-list .item-product .product-desc .controls li .yith-wcwl-add-to-wishlist a:hover, .category-product-list .item-product .product-desc .controls li a.compare:hover {
    border-color: #a3c638;
}

.product-grid .item-product .product-desc .controls .icon-links li.add-to-cart a {
    color: #a3c638;
}

.product-grid .item-product .product-desc .controls .icon-links li.add-to-cart a:hover {
    border-color: #a3c638;
}

#yith-wcwl-form .wishlist_table tbody tr td a:hover {
    color: #a3c638;
}

#yith-wcwl-form .wishlist_table .product-stock-status {
    color: #a3c638;
}

#yith-wcwl-form .wishlist_table tbody tr td a.add_to_cart_button:hover {
    background: #a3c638;
}

article.type-post .content-inner .blog_title {
    font-size: 16px;
    color: #26292d;
}

article.type-post .content-inner .blog_title:hover a {
    color: #a3c638;
}

article.type-post .content-single-inner .author-links a:hover, article.type-post .content-single-inner .cat-links a:hover, article.type-post .content-inner .author-links a:hover, article.type-post .content-inner .cat-links a:hover {
    color: #a3c638;
}

article.type-post .content-single-inner .read-more, article.type-post .content-inner .read-more {
    color: #a3c638;
}

.scroll-to-top:hover {
    background: #a3c638;
}

.widget-area aside ul li a {
    color: #797979;
}

.widget-area aside ul li a:hover {
    color: #a3c638;
}

.widget-area aside.widget_categories ul li {
    color: #a3c638;
}

.widget-area aside.widget_archive ul li .count, .widget-area aside .product-categories li .count {
    color: #a3c638;
}

.widget-area aside .widget-title {
    font-size: 20px;
    color: #26292d;
}

.widget-area aside .widget-title:before {
    background: #a3c638;
}

.widget-area .widget_tag_cloud .tagcloud a:hover, .widget-area .widget_product_tag_cloud .tagcloud a:hover {
    border-color: #a3c638;
}

.tagcloud a {
    color: #797979;
}

.tagcloud a:hover {
    color: #a3c638;
}

.entry-title a {
    color: #797979;
}

.entry-meta-single .comments-link a:hover, .entry-meta-single .single-cat-links a:hover, .entry-meta-single .posted-on a:hover, .entry-meta-single .byline a:hover {
    color: #a3c638;
}

blockquote {
    border-left: 5px solid #a3c638;
}

.post-navigation .nav-previous:hover, .post-navigation .nav-next:hover {
    background: #a3c638;
}

.post-navigation .nav-previous:hover a, .post-navigation .nav-next:hover a {
    color: #fff;
}

.comments-area .comment-list-inner li .wrapper-comment:hover .wrapper_avatar .fa-mail-reply {
    color: #a3c638;
}

.comments-area .comment-list-inner li .comment-extra-info .author {
    font-size: 20px;
}

.comments-area .comment-respond .form-submit input#submit {
    color: #a3c638;
}

.comments-area .comment-respond .form-submit input#submit:hover {
    border-color: #a3c638;
}

.comments-area .comment-respond-area #respond.comment-respond .comment-reply-title {
    font-size: 22px;
}

.breadcrumbs-wrapper .woocommerce-breadcrumb a:hover, .breadcrumbs-wrapper .vi-breadcrumb li a:hover {
    color: #a3c638;
}

.wrapper-pagination .pagination .page-numbers > li > a.current, .wrapper-pagination .pagination .page-numbers > li > a:hover, .wrapper-pagination .pagination .page-numbers > li > span.current, .wrapper-pagination .pagination .page-numbers > li > span:hover {
    color: #a3c638;
    border-color: #a3c638;
}

.line_bottom .navbar-nav > li > a:hover:after, .line_bottom .navbar-nav > li.current-menu-item > a:after, .line_bottom .navbar-nav > li.current-menu-item > span.disable_link:after {
    background: #a3c638;
}

.btn-default:hover {
    border-color: #a3c638;
    color: #a3c638;
}

.btn-primary {
    color: #fff;
    background: #a3c638;
    border-color: transparent;
}

.btn-primary:hover {
    border-color: #a3c638;
    background: transparent;
    color: #a3c638;
}

.vi-otreservations .vi-wrapper .vi-reservation-date, .vi-otreservations .vi-wrapper select {
    color: #a3c638;
}

.vi-otreservations .vi-wrapper .otreservations-submit {
    /*font-family: Playfair Display, Helvetica, Arial, sans-serif;*/
}

.btn-second {
    color: #fff;
    background: #a3c638;
    border-color: transparent;
}

.btn-second:hover {
    border-color: #a3c638;
    background: transparent;
    color: #a3c638;
}

.btn-black:hover {
    background: #a3c638;
    border-color: #a3c638;
}

.btn-border-black:hover {
    border-color: #a3c638;
    color: #a3c638;
}

.error404 .error-404 h1 {
    color: #a3c638;
}

.error404 .error-404 .btn-404:hover {
    color: #a3c638;
    border-color: #a3c638;
}

.error404 .error-404 .btn-help-404 {
    background-color: #a3c638;
    border-color: #a3c638;
}

.error404 .error-404 .btn-help-404:hover {
    background-color: transparent;
    color: #a3c638;
}

.wpcf7-form .wpcf7-submit {
    background-color: #a3c638;
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

.contact-info li:before {
    color: #a3c638;
}

.contact-info li a:hover {
    color: #a3c638;
}

.contact-info li label {
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

div#preload .loading-inner span {
    background-color: #a3c638;
}

.block-item {
    border: 2px solid #a3c638;
}

.page_login #loginform #wp-submit {
    background: #a3c638;
}

.page_login #wp-submit {
    color: #a3c638;
}

.vi-widget-tab-posts ul.nav-tabs > li.active > a, .vi-widget-tab-posts ul.nav-tabs > li.active > a:focus, .vi-widget-tab-posts ul.nav-tabs > li.active > a:hover {
    background: #a3c638;
}

.widget_tag_cloud .tagcloud a:hover {
    background-color: #a3c638;
    color: #fff;
}

footer .info li {
    color: #b5b5b5;
}

.mc4wp-form input[type="submit"] {
    background: #a3c638;
}

.mc4wp-form input[type="submit"]:hover {
    background: #a3c638;
    color: #fff;
}

.wrapper-newllester .border-newslletter:before {
    border-color: #a3c638;
}

.wrapper-newllester .border-newslletter:hover:before {
    border-color: #a3c638;
}

.wrapper-newllester .border-newslletter h4:before {
    background: #a3c638;
}

.widget_nav_menu ul li a, .widget_nav_menu ul li span {
    color: #cacbc9;
}

.widget_nav_menu ul li a:hover, .widget_nav_menu ul li span:hover {
    color: #a3c638;
}

.vi-slider-navigation a:hover {
    border-color: #a3c638;
    color: #a3c638;
}

.archive-blog .content-single-inner .read-more, .archive-blog .content-inner .read-more, .single-blog .content-single-inner .read-more, .single-blog .content-inner .read-more {
    font-size: 18px;
}

.vi-product-slider.category-product .item-cat h5 {
    font-size: 19px;
}

.vi-testimonials .testimonial-footer:before, .vi-testimonials .owl-theme .owl-controls .owl-page.active span, .vi-testimonials .owl-theme .owl-controls .owl-page:hover span {
    background: #a3c638 !important;
}

.jscroll-next-parent {
    clear: both;
}

.page_login #loginform #wp-submit {
    border: 1px solid #a3c638;
    background: #a3c638;
}

.footer_login .text-copyright a {
    color: #a3c638;
}

.promo-banner .text-container .sub-title {
    font-family: Cabin, Helvetica, Arial, sans-serif;
}

.promo-banner .a-default:hover {
    color: #a3c638;
}

.top_footer {
    background-color: #26292d;
    color: #fff;
}

.top_footer a, .top_footer .widget-title {
    color: #fff;
}

.top_footer .widget-title {
    font-size: 20px;
}

.top_footer .widget_nav_menu ul li a {
    color: #fff;
}

.top_footer .widget_nav_menu ul li a:hover {
    color: #a3c638;
}

.top_footer .mc4wp-form input[type="email"] {
    color: #fff;
}

.list-posts .widget-title, .list-posts .blog_title {
    font-size: 16px;
}

.list-posts .blog_title a:hover, .list-posts .entry-meta a:hover, .list-posts .read_more {
    color: #a3c638;
}

.list-posts.style_02 .blog_title:after {
    background: #a3c638;
}

.list-posts.style_02 .shortcode-blog .article-date .date {
    color: #a3c638;
}

.list-posts.style_02.border_primary .shortcode-blog .content-inner {
    border: 2px solid #a3c638;
}

.list-posts.style_01 .content-inner:before {
    border-color: #a3c638;
}

.list-posts.style_01 .content-inner .read_more {
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

.list-posts.style_03 .read-more a {
    font-family: Playfair Display, Helvetica, Arial, sans-serif;
}

.list-posts.style_03 .read-more a:hover {
    color: #a3c638;
}

.button-black .view-more .btn-primary {
    /*background: #26292e;*/
}

.button-black .view-more .btn-primary:hover {
    background: #a3c638;
    color: #fff !important;
}

.powered-table .widget-title {
    color: #26292d;
    font-size: 18px;
}

.contact-info li label {
    color: #797979;
}

.product-grid .item-product .product-desc .product-title a {
    color: #797979;
}

.echion_social_links li.text {
    font-size: 20px;
    font-weight: normal;
}

.echion_social_links a:hover {
    color: #a3c638;
}

.echion_social_links.square a:hover i.fa, .echion_social_links.circle a:hover i.fa {
    color: #a3c638;
    border-color: #a3c638;
}

.widget_shopping_cart .minicart_hover .cart-items-number span.wrapper-items-number {
    background: #a3c638;
    color: #fff !important;
}

.vi_search_form form button, .vi_search_form form .header-search-close {
    background: #a3c638;
}

.echion_Widget_Ajax_Search_class .header-search-form-input {
    position: relative;
    z-index: 9;
}

.echion_Widget_Ajax_Search_class .header-search-form-input .vi-search-results li a {
    color: #797979;
}

.echion_Widget_Ajax_Search_class .header-search-form-input .vi-search-results li a:hover {
    color: #a3c638;
}

.echion_Widget_Ajax_Search_class .header-search-form-input .vi-search-results li.selected a {
    color: #a3c638;
}

.list-arrow li:before, .list-arrow ul li:before {
    color: #a3c638;
}

.widget-title .first {
    color: #a3c638;
}

@media (min-width: 1400px) {
    .wrapper-header_v4 .navigation .navbar-nav > li > a, .wrapper-header_v4 .navigation .navbar-nav > li > span {
        font-size: 18px;
    }
}

.header_area_v4 {
    color: #fff;
}

.wrapper-header_v4 #powered .link-menu ul.child li a:hover {
    color: #a3c638;
}

.wrapper-header_v4 .border-primary.widget_shopping_cart .minicart_hover {
    border: 1px solid #a3c638;
}

.wrapper-header_v4 .navbar-toggle .icon-bar {
    background: #a3c638;
}

@media (max-width: 1199px) {
    .wrapper-header_v4 .nav > li .sub-menu a, .wrapper-header_v4 .nav > li .sub-menu span, .wrapper-header_v4 .nav > li.multicolumn > .sub-menu a, .wrapper-header_v4 .nav > li.multicolumn > .sub-menu span, .wrapper-header_v4 .nav > li.widget_area > .sub-menu a, .wrapper-header_v4 .nav > li.widget_area > .sub-menu span {
        color: #fefefe;
    }
}

@media (min-width: 768px) {
    .header_v1.sticky-header.affix .wrapper-navigation {
        background-color: rgba(0, 0, 0, 0);
    }

    .bg-custom-sticky.affix {
        background: transparent;
    }

    .bg-custom-sticky.affix .navbar-nav > li .nav-active {
        color: #a3c638;
    }

    .bg-custom-sticky.affix .navbar-nav > li.current-menu-item > a, .bg-custom-sticky.affix .navbar-nav > li.current-menu-item > span.disable_link, .bg-custom-sticky.affix .navbar-nav > li.current-menu-ancestor > a, .bg-custom-sticky.affix .navbar-nav > li.current-menu-ancestor > span.disable_link {
        color: #a3c638;
    }

    .bg-custom-sticky.affix .navbar-nav > li.current-menu-item > a span, .bg-custom-sticky.affix .navbar-nav > li.current-menu-item > span.disable_link span, .bg-custom-sticky.affix .navbar-nav > li.current-menu-ancestor > a span, .bg-custom-sticky.affix .navbar-nav > li.current-menu-ancestor > span.disable_link span {
        border-color: #a3c638;
    }

    .bg-custom-sticky.affix .navbar-nav > li > a, .bg-custom-sticky.affix .navbar-nav > li > span.disable_link {
        color: #fefefe;
    }

    .bg-custom-sticky.affix .navbar-nav > li > a:hover, .bg-custom-sticky.affix .navbar-nav > li > span.disable_link:hover {
        color: #a3c638;
    }

    .bg-custom-sticky.affix .navbar-nav > li > a:hover span, .bg-custom-sticky.affix .navbar-nav > li > span.disable_link:hover span {
        border-color: #a3c638;
    }

    .bg-custom-sticky.affix .navbar-nav > li.menu-item-has-children > a:after, .bg-custom-sticky.affix .navbar-nav > li.menu-item-has-children > span.disable_link:after {
        color: #fefefe;
    }

    .bg-custom-sticky.affix .menu-right li a, .bg-custom-sticky.affix .menu-right li span, .bg-custom-sticky.affix .menu-right li div {
        color: #fefefe;
    }

    .bg-custom-sticky.affix .menu-right li a:hover, .bg-custom-sticky.affix .menu-right li span:hover, .bg-custom-sticky.affix .menu-right li div:hover {
        color: #a3c638;
    }

    .bg-custom-sticky.affix.sticky-header.header_v1 .navigation {
        background: transparent !important;
    }

    .bg-custom-sticky.affix.sticky-header.header_v1 .wrapper-navigation {
        background: rgba(0, 0, 0, 0.6);
    }

    .navbar-nav li.multicolumn .megacol, .navbar-nav li.widget_area .megacol {
        background: #fff;
    }

    .nav > li .sub-menu a, .nav > li .sub-menu span, .nav > li.multicolumn > .sub-menu a, .nav > li.multicolumn > .sub-menu span, .nav > li.widget_area > .sub-menu a, .nav > li.widget_area > .sub-menu span {
        color: #6f6f6f;
    }

    .nav > li .sub-menu li:hover > a, .nav > li .sub-menu li:hover > span, .nav > li .sub-menu li.current-menu-item > a, .nav > li .sub-menu li.current-menu-item > span, .nav > li.multicolumn > .sub-menu li:hover > a, .nav > li.multicolumn > .sub-menu li:hover > span, .nav > li.multicolumn > .sub-menu li.current-menu-item > a, .nav > li.multicolumn > .sub-menu li.current-menu-item > span, .nav > li.widget_area > .sub-menu li:hover > a, .nav > li.widget_area > .sub-menu li:hover > span, .nav > li.widget_area > .sub-menu li.current-menu-item > a, .nav > li.widget_area > .sub-menu li.current-menu-item > span {
        color: #a3c638;
    }

    .submenu-widget .vi-single-image-desc {
        color: #6f6f6f;
    }

    .menu-right li a, .menu-right li span, .menu-right li div, .menu-right .aside a, .menu-right .aside span, .menu-right .aside div, .header-right li a, .header-right li span, .header-right li div, .header-right .aside a, .header-right .aside span, .header-right .aside div {
        color: #fefefe;
        font-size: 16px;
        font-weight: normal;
    }

    .menu-right li a:hover, .menu-right li span:hover, .menu-right li div:hover, .menu-right .aside a:hover, .menu-right .aside span:hover, .menu-right .aside div:hover, .header-right li a:hover, .header-right li span:hover, .header-right li div:hover, .header-right .aside a:hover, .header-right .aside span:hover, .header-right .aside div:hover {
        color: #a3c638;
    }

    .navigation .navbar-nav li.standard .sub-menu {
        background: #fff;
    }

    .navigation .navbar-nav li.standard .sub-menu li:hover {
        color: #a3c638;
    }

    .navigation .navbar-nav > li .sub-menu {
        font-family: Cabin, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .navigation .navbar-nav > li > a, .navigation .navbar-nav > li > span {
        color: #fefefe;
        font-size: 16px;
        font-weight: normal;
        font-family: Cabin, Helvetica, Arial, sans-serif;
    }

    .navigation .navbar-nav > li.menu-item-has-children > a:after, .navigation .navbar-nav > li.menu-item-has-children > span:after {
        color: #fefefe;
    }

    .navigation .navbar-nav > li .nav-active {
        color: #a3c638;
    }

    .navigation .navbar-nav > li.current-menu-item > a, .navigation .navbar-nav > li.current-menu-item > span, .navigation .navbar-nav > li:hover > a, .navigation .navbar-nav > li:hover > span, .navigation .navbar-nav > li.current-menu-ancestor > a, .navigation .navbar-nav > li.current-menu-ancestor > span {
        color: #a3c638;
    }

    .width-logo {
        width: 190px;
    }

    .width-navigation {
        width: calc(100% - 194px);
    }

    .width-navigation-left, .width-navigation-right {
        width: calc(50% - 97px);
    }

    .header_v3 .width-navigation, .header_v3 .header-right {
        width: calc(50% - 97px);
    }

    .width-navigation-left li {
        color: #fefefe;
    }

    .width-navigation-left li a, .width-navigation-left li p, .width-navigation-left li div {
        color: #fefefe;
    }

    .vi-product-category-wrapper .vi-product-list li.view-all a {
        color: #a3c638;
    }

    .vi-product-category-wrapper .vi-product-list li.view-all a:hover {
        color: #797979;
    }
}

@media (max-width: 767px) {
    .entry-title {
        font-size: 30px;
    }

    .width-navigation {
        background: #2d2d2d;
    }

    .width-navigation ul li a {
        color: #f7f7f7;
    }

    .width-navigation ul li.current-menu-item > a, .width-navigation ul li.current-menu-item > span {
        color: #efefef;
    }

    .menu-mobile-effect span {
        background-color: #fefefe;
    }

    .navbar-nav .sub-menu:before {
        background: #f7f7f7;
    }

    .navbar-nav .sub-menu li:before {
        background: #f7f7f7;
    }

    .submenu-widget .vi-single-image-desc {
        color: #f7f7f7;
    }

    .list-html-content .item-content .title-list h5 {
        color: #a3c638;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }
}

div#preload-ajax .loading-inner span {
    background-color: #a3c638;
}

.vi-progress-bar-wrapper .progress-bar {
    background-color: #a3c638;
}

.shop-top .list-products-layout li.active span {
    color: #a3c638;
}

.timer-bar-countdown .counter-group .counter-block {
    border-color: #a3c638;
}

.timer-bar-countdown .counter-group .counter-block .counter {
    color: #a3c638;
}

.sc-icon-boxed .circle {
    background: #a3c638;
}

.vc_tta-tabs.vc_general.vc_tta-style-flat .vc_tta-tabs-list .vc_tta-tab.vc_active span {
    color: #a3c638;
}

.vc_tta-tabs.vc_general.vc_tta-style-flat .vc_tta-tabs-list .vc_tta-tab:hover span {
    color: #a3c638;
}

.poppins-light h3, .poppins-light h2, .poppins-light h4 {
    font-family: Cabin, Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.poppins-light h2.title {
    letter-spacing: 4px;
}

.slider-nav span:hover {
    background: #a3c638;
    color: #fff;
}

a:hover {
    color: #a3c638;
}

.white_belleza_80 span {
    color: #a3c638;
}

.vi-btn-rev:hover {
    color: #a3c638 !important;
}

.vi-btn-rev:hover:after {
    border-color: #a3c638;
}

.rev_slider .custom .tp-bullet.selected, .rev_slider .custom .tp-bullet:hover {
    background-color: #a3c638 !important;
}

.rev_slider .hermes .tp-bullet {
    box-shadow: inset 0 0 0 2px #a3c638 !important;
}

.rev_slider .hermes .tp-bullet.selected, .rev_slider .hermes .tp-bullet:hover {
    background-color: #a3c638 !important;
}

.rev_slider .hermes .tp-bullet.selected:after, .rev_slider .hermes .tp-bullet:hover:after {
    background-color: #a3c638 !important;
    box-shadow: 0 0 1px #a3c638 !important;
}

.rev_slider .hermes .tp-bullet:after {
    background-color: #a3c638 !important;
    box-shadow: 0 0 1px #a3c638 !important;
}

.widget_wmc_widget .wmc-list-currencies.pain-vertical li .sub-currency li a:hover, .language ul.sub-child li:hover {
    color: #a3c638;
}

.vi-woocommerce-product-category-tabs .panel-title {
    font-size: 20px;
    font-weight: normal;
}

.vi-woocommerce-product-category-tabs .panel-default > .panel-heading:after {
    background: #a3c638;
}

.list-our-team .inner-team-member:after, .list-our-team .vi-teams-image img {
    border-color: #a3c638;
}

.list-our-team .vi-teams-description h5 a {
    color: #fff;
}

.list-our-team .vi-teams-description h5 a:hover {
    color: #a3c638;
}

.list-our-team .vi-teams-description .socials:before {
    background: #a3c638;
}

.error404 {
    background-image: url("2016/07/bg_404.jpg");
}

.custom_class {
    /*\n margin: 0 auto;*/
    /*\n*/
}