@font-face {
    font-family: 'Parfumerie Script Decorative';
    src: url('../fonts/ParfumerieScriptRegular.eot');
    src: url('../fonts/ParfumerieScriptRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ParfumerieScriptRegular.woff') format('woff'),
    url('../fonts/ParfumerieScriptRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
